:root
{
    --primary_color: #009693;
    --secondary_color: #004d96;

    --font_color: #bbbbbb;
    --font_color_secondary: #24e53e;
    --background_color: #111111;

    font-family: monospace;
    color: var(--font_color);
    background-color: var(--background_color);
}

#navbar
{
    font-size: 2rem;

    background-color: var(--primary_color);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    span
    {
	display: inline-block;
	padding-left: 1ch;
	align-self: center;
	color: var(--font_color_secondary);
    }

    #navbar_links
    {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	flex-direction: row;
	flex-grow: 4;
	align-self: center;
	
	a
	{
	    padding-left: 1ch;
	    padding-right: 1ch;

	    text-decoration: none;
	    color: var(--font_color);
	    transition: 0.3s;
	}

	a :hover
	{
	    background-color: var(--secondary_color);
	    color: var(--font_color_secondary);
	}

    }

    #navbar_links :hover
    {
	    background-color: var(--secondary_color);
	    color: var(--font_color_secondary);
    }
    
}

#main
{
    margin-top: 4rem;
}
