:root
{
    --primary_color: #007471;
    --secondary_color: #004d96;

    --font_color: #bbbbbb;
    --font_color_secondary: #24e53e;
    --background_color: #111111;

    font-family: monospace;
    color: var(--font_color);
    background-color: var(--background_color);
}

@media (max-width: 449px)
{
    #navbar
    {
	font-size: 2rem;
	background-color: var(--primary_color);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	span
	{
	    display: inline-block;
	    padding-left: 1ch;
	    align-self: center;
	    color: var(--font_color_secondary);
	}
	
	#navbar_waffle
	{
	    display: block;
	    padding-right: 1ch;
	    align-self: center;
	    color: var(--secondary_color);
	}
	
	#navbar_links
	{
	    display: none;
	    position: absolute;
	    right: 0;

	    a
	    {
		text-decoration: none;
		color: var(--font_color);
		background-color: var(--primary_color);
		padding-right: 1ch;
	    }
	    
	    a:hover
	    {
		background-color: var(--secondary_color);
		color: var(--font_color_secondary);
	    }
	    
	}
	
	#navbar_dropdown
	{
	    display: inline-block;
	    position: relative;
	}

	#navbar_dropdown:hover #navbar_links
	{
	    display:block;
	}

	#navbar_dropdown:hover #navbar_waffle
	{
	    color: var(--primary_color);
	    background-color: var(--secondary_color);
	}
	
    }
    
}

@media (min-width: 450px)
{
#navbar
{
    font-size: 2rem;
    background-color: var(--primary_color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    span
    {
	display: inline-block;
	padding-left: 1ch;
	align-self: center;
	color: var(--font_color_secondary);
    }

    #navbar_waffle
    {
	display: none;
    }

    #navbar_links
    {
	white-space: nowrap;

	a
	{
	    padding-left: 1ch;
	    padding-right: 1ch;

	    text-decoration: none;
	    color: var(--font_color);
	}
    }
    #navbar_links:hover a:hover
    {
	background-color: var(--secondary_color);
	color: var(--font_color_secondary);
    }

}
}

#main
{
    margin-top: 4rem;
}

